// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Noto Kufi Arabic';
$headings-font-family: 'Noto Kufi Arabic';
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// colors
$blue: #3490bc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2ed;



$primary: #643843;         // هذه كود تغير الوان الريسيئة للموقع مثل الازرار والخط

$btn-border-radius: 0;   //هذه حق حواف الازارير
// هذه حق حواف المشاريع المربع
$card-border-width: 0;
$card-border-radius: 0;

// هذه لون حق قيد الانجاز
$warning: #19A7CE;

// هذه حق عنوان المشاريع
$link-color: #EA5455;

$input-border-radius: 0;